<div class="mx-auto max-w-8xl px-4 sm:px-6 lg:px-8 py-12">
  <div class="mx-auto max-w-4xl">
    <div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 pt-6 gap-8">
      <% @boards.each do |board| %>
        <div class=" border-gray-200 dark:border-gray-200 shadow-lg duration-200 transform hover:scale-105 shadow-black-200 rounded-lg border-2 h-24">
          <div id="title_section" class="mt-2">
            <p class="text-center"><%= link_to board.name, board_path(board), class: 'link' %></p>
          </div>
          <div class="border-t border-gray-300 mt-2"></div>
          <div id="content"></div>
          <div class="grid grid-cols-2 divide-x text-center">
            <div class="p-4">
              <%= link_to 'Edit', edit_board_path(board), class: 'w-full min-h-full' %>
            </div>
            <div class="p-4">
              <%= link_to 'Delete', board_path(board), data: { "turbo-method": :delete }, class: 'w-full min-h-full' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
